<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body>
<%= _.template(require('./../includes/header.html'))(data) %> 
<section class="box-shadow box-shadow_contacts">
  <div class="box-shadow__wrapper">
    <div class="container">
      <div class="line">
        <div class="line__wrapper line__wrapper_case">
          <div class="line__item line__item_title">
            <h1 class="line__title line__title_blue">
              <span>case</span>
            </h1>
          </div>
          <div class="line__item line__item_4">
            <div class="case">
              <div class="case__wrapper">
                <div class="case__item">
                  <div class="case__logo">
                    <img src="./img/tacktome-color.png" alt="stacktome">
                  </div>
                  <div class="case__text">
                    <span>UAE based start up, building automated advertising and predictive tools for e-commerce business.</span>
                  </div>
                  <div class="case__tags">
                    <span class="case__tag">#Data Analytics</span>
                    <span class="case__tag">#AdTech</span>
                  </div>
                </div>
                <div class="case__item">
                  <div class="case-desc">
                    <div class="case-desc__wrapper">
                      <div class="case-desc__item">
                        <div class="case-desc__icon">
                          <img src="./img/location.svg" alt="location">
                        </div>
                        <div class="case-desc__name">
                          <span>Client’s 
                            location</span>
                        </div>
                        <div class="case-desc__text">
                          <span>UAE</span>
                        </div>
                      </div>
                      <div class="case-desc__item">
                        <div class="case-desc__icon">
                          <img src="./img/team.svg" alt="location">
                        </div>
                        <div class="case-desc__name">
                          <span>Team</span>
                        </div>
                        <div class="case-desc__text">
                          <span>
                            1 front-end <br>
                            4 back-end <br>
                            developers
                          </span>
                        </div>
                      </div>
                      <div class="case-desc__item">
                        <div class="case-desc__icon">
                          <img src="./img/timeline.svg" alt="location">
                        </div>
                        <div class="case-desc__name">
                          <span>Timelines</span>
                        </div>
                        <div class="case-desc__text">
                          <span>
                            September 2016 <br>
                            —<br>
                            Ongoing
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__wrapper">
    <div class="container">
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>involvement</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="line__text">
              <ul class="line__list line__list_ws">
                <li class="line__li">Grinteq has built the core development team for Stacktome from scratch</li>
                <li class="line__li">The team worked in Grinteq’s office, while CTO and rest of the company were based in UAE</li>
                <li class="line__li">Each month team and management meet in Minsk office for project discussion and strategy alignment</li>
              </ul>
            </div>
            <div class="case-feat">
              <div class="case-feat__wrapper">
                <div class="case-feat__item">
                  <div class="case-feat__icon">
                    <img src="./img/frontend.svg" alt="frontend">
                  </div>
                  <div class="case-feat__name">
                    <span>Front-End</span>
                  </div>
                  <div class="case-feat__tech">
                    <img class="case-feat__it" src="./img/angular-feat.svg" alt="angular">
                    <img class="case-feat__it" src="./img/js-feat.png" alt="javascript">
                  </div>
                </div>
                <div class="case-feat__item">
                  <div class="case-feat__icon">
                    <img src="./img/backend.svg" alt="frontend">
                  </div>
                  <div class="case-feat__name">
                    <span>Back-End</span>
                  </div>
                  <div class="case-feat__tech">
                    <img class="case-feat__it" src="./img/scala.svg" alt="scala">
                    <img class="case-feat__it" src="./img/python-feat.png" alt="python">
                  </div>
                </div>
                <div class="case-feat__item">
                  <div class="case-feat__icon">
                    <img src="./img/services.svg" alt="frontend">
                  </div>
                  <div class="case-feat__name">
                    <span>Services</span>
                  </div>
                  <div class="case-feat__tech">
                    <img class="case-feat__it" src="./img/python-feat.png" alt="python">
                    <img class="case-feat__it" src="./img/gcd.png" alt="gcd">
                    <img class="case-feat__it" src="./img/bigquery.png" alt="bigquery">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>cliets_voice</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="line__review">
              <div class="review">
                <div class="review__wrapper">
                  <div class="review__img">
                    <img src="./img/Evaldas-M.jpg" alt="Evaldas-M">
                  </div>
                  <div class="review__content">
                    <div class="review__name">
                      <span>Evaldas Miliuskas</span>
                    </div>
                    <div class="review__position">
                      <span>CTO Stacktome</span>
                    </div>
                    <div class="review__text">
                      <span>The team quality standard is high and I didn't had any problems managing it remotely. This collaboration is crucial for our project success. I would recommend Grinteq as dedicated team partner.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>cases</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="slider">
              <div class="slider__wrapper">
                <div class="slider__control"></div>
                <div class="slider__box slider__cases owl-carousel">
                  <div class="slider__item slider__item_full">
                    <div class="slider__full-img">
                      <img src="./img/case-1.jpg" alt="relesys">
                    </div>
                  </div>
                  <div class="slider__item slider__item_full">
                    <div class="slider__full-img">
                      <img src="./img/case-1.jpg" alt="relesys">
                    </div>
                  </div>
                  <div class="slider__item slider__item_full">
                    <div class="slider__full-img">
                      <img src="./img/case-1.jpg" alt="relesys">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./../includes/footer.html'))(data) %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>