<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body class="page_inside">
<%= _.template(require('./../includes/header.html'))(data) %> 
<section class="main-slide">
  <div class="main-slide__wrapper main-slide__wrapper_inside">
    <div class="main-slide__img main-slide__img_inside" style="background-image: url(./img/slide.jpg);">
      <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
        <source src="./img/contacts.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="line">
          <div class="line__wrapper line__wrapper_header">
            <div class="line__item line__item_title">
              <div class="line__title line__title_white line__title_top">
                <span>contacts</span>
              </div>
            </div>
            <div class="line__item line__item_4">
              <div class="line__caption line__caption_white">
                <span>Lets get in touch!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__wrapper">
    <div class="container">
      <div class="line">
        <div class="line__wrapper line__wrapper_contacts">
          <div class="line__item line__item_title line__item_dis">
          </div>
          <div class="line__item line__item_30">
            <div class="contacts">
              <div class="contacts__wrapper">
                <div class="contacts__item">
                  <div class="contacts__title">
                    <span>Skype&Email</span>
                  </div>
                  <div class="contacts__value">
                    <span>info@grinteq.com</span>
                  </div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__title">
                    <span>WhatsApp&Telegram</span>
                  </div>
                  <div class="contacts__value">
                    <span>+375 25 60-82-444</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="line__item line__item_50">
            <div class="address">
              <div class="address__wrapper">
                <div class="address__item">
                  <div class="address__title">
                    <span>Belarus</span>
                  </div>
                  <div class="address__value">
                    <span>Minsk,<br>
                      Nezavisimosti 58/420, 220005</span>
                  </div>
                </div>
                <div class="address__item">
                  <div class="address__title">
                    <span>Austria</span>
                  </div>
                  <div class="address__value">
                    <span>Vienna,<br> Kollmayergasse 10/3, 1120</span>
                  </div>
                </div>
                <div class="address__item">
                  <div class="address__title">
                    <span>Portugal</span>
                  </div>
                  <div class="address__value">
                    <span>Lisbon,<br>
                        Rua Luciano Cordeiro 113/2dt, 1150
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-box">
  <div class="contact-box__wrapper">
    <div class="contact-box__box">
      <div class="container">
        <div class="contact-form">
          <div class="contact-form__wrapper">
            <div class="contact-form__left"></div>
            <div class="contact-form__box">
              <div class="contact-form__title">
                <span>Drop us a line!</span>
              </div>
              <form class="contact-form__form">
                <div class="contact-form__item">
                  <div class="contact-form__label">
                    <span>Name</span>
                  </div>
                  <input type="text" class="contact-form__input">
                </div>
                <div class="contact-form__item">
                  <div class="contact-form__label">
                    <span>Email</span>
                  </div>
                  <input type="text" class="contact-form__input">
                </div>
                <div class="contact-form__item">
                  <div class="contact-form__label">
                    <span>Subject</span>
                  </div>
                  <input type="text" class="contact-form__input">
                </div>
                <div class="contact-form__item">
                  <div class="contact-form__label">
                    <span>Phone</span>
                  </div>
                  <input type="text" class="contact-form__input">
                </div>
                <div class="contact-form__item contact-form__item_big">
                  <div class="contact-form__label">
                    <span>Message</span>
                  </div>
                  <textarea class="contact-form__textarea"></textarea>
                </div>
                <div class="contact-form__item">
                  <div class="button">
                    <button class="button__wrapper contact-form__button">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./../includes/footer.html'))(data) %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>