<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body class="page_inside">
<%= _.template(require('./../includes/header.html'))(data) %> 
<section class="main-slide">
  <div class="main-slide__wrapper main-slide__wrapper_inside">
    <div class="main-slide__img main-slide__img_inside" style="background-image: url(./img/slide-exp.jpg);">
      <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
        <source src="./img/Love-Coding.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="line">
          <div class="line__wrapper line__wrapper_header">
            <div class="line__item line__item_title">
              <div class="line__title line__title_white line__title_top">
                <span>expertise</span>
              </div>
            </div>
            <div class="line__item line__item_4">
              <div class="line__caption line__caption_white">
                <span>Check what we are capable of!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__wrapper">
    <div class="container">
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>technology_<br>stacks</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="line__box line__box_full">
              <div class="skill">
                <div class="skill__wrapper skill__wrapper_full">
                  <div class="skill__title">
                    <div class="skill__name">
                      <span>Python</span>
                    </div>
                  </div>
                  <div class="skill__content">
                    <div class="skill__half skill__half_full">
                      <span><strong>Data management platform</strong> for e-commerce tool</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line__box line__box_full">
              <div class="skill">
                <div class="skill__wrapper skill__wrapper_full">
                  <div class="skill__title">
                    <div class="skill__name">
                      <span>PHP</span>
                    </div>
                  </div>
                  <div class="skill__content">
                    <div class="skill__half">
                      <span><strong>E-commerce website </strong>for major US startup</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Employment platform </strong>for >300K users a month</span>
                    </div>
                    <div class="skill__half">
                      <span>Back end: Magento</span>
                    </div>
                    <div class="skill__half">
                      <span>Back end: Symfony 3</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line__box line__box_full">
              <div class="skill">
                <div class="skill__wrapper skill__wrapper_full">
                  <div class="skill__title">
                    <div class="skill__name">
                      <span>Golang</span>
                    </div>
                  </div>
                  <div class="skill__content">
                    <div class="skill__half">
                      <span><strong>Blockchain wallet </strong>development with autonomous logic for major blockchain project</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Transaction cost reduction service </strong>for airfare search aggregator</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Employee administration system </strong>for system integration company</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Image processing</strong>web application for a Berlin based startup</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line__box line__box_full">
              <div class="skill">
                <div class="skill__wrapper skill__wrapper_full">
                  <div class="skill__title">
                    <div class="skill__name">
                      <span>Solidity
                      </span>
                    </div>
                  </div>
                  <div class="skill__content">
                    <div class="skill__half">
                      <span><strong>Property token and smart contact development,</strong> using non trivial mining scheme to comply with tax requirements</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Supporting the development</strong> of a decentralized cryptocurrency exchange</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Security audit of utility token</strong> smart contract</span>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="line__box line__box_full">
              <div class="skill">
                <div class="skill__wrapper skill__wrapper_full">
                  <div class="skill__title">
                    <div class="skill__name">
                      <span>Drupal 7 and 8</span>
                    </div>
                  </div>
                  <div class="skill__content">
                    <div class="skill__half">
                      <span><strong>Blockchain wallet </strong>development with autonomous logic for major blockchain project</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Transaction cost reduction service </strong>for airfare search aggregator</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Employee administration system </strong>for system integration company</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Image processing</strong>web application for a Berlin based startup</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line__box line__box_full">
              <div class="skill">
                <div class="skill__wrapper skill__wrapper_full">
                  <div class="skill__title">
                    <div class="skill__name">
                      <span>Angular 2</span>
                    </div>
                  </div>
                  <div class="skill__content">
                    <div class="skill__half">
                      <span><strong>Blockchain wallet </strong>development with autonomous logic for major blockchain project</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Transaction cost reduction service </strong>for airfare search aggregator</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Employee administration system </strong>for system integration company</span>
                    </div>
                    <div class="skill__half">
                      <span><strong>Image processing</strong>web application for a Berlin based startup</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./../includes/footer.html'))(data) %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>