<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body class="page_inside">
<%= _.template(require('./../includes/header.html'))(data) %> 
<section class="main-slide">
  <div class="main-slide__wrapper main-slide__wrapper_inside">
    <div class="main-slide__img main-slide__img_inside" style="background-image: url(./img/slide-team.jpg);">
      <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
        <source src="./img/what_we_do.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="line">
          <div class="line__wrapper line__wrapper_header">
            <div class="line__item line__item_title">
              <div class="line__title line__title_white line__title_top">
                <span>dedicated_<br>teams</span>
              </div>
            </div>
            <div class="line__item line__item_4">
              <div class="line__caption line__caption_white">
                <span>Dedicated developers team to take care of the programming needs, quickly deployed, cost effectively managed.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__wrapper">
    <div class="container">
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>team</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="line__text">
              <span>We assemble a team of handpicked developers, who align with your company code development practices and reckless spirit. The team we build for you is fully integrated into your company development process: you communicate directly with developers and retain total control.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>commitment</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="line__text">
              <span>Your team is here to stay, that's why average time of our commitment is 1.5 years, with no duration limits. And don't worry about being disconnected from your team, Grinteq organizes 1-2 month trips for our developers to come to the clients office and connect on all levels.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>benefits</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="tiles">
              <div class="tiles__wrapper">
                <div class="tiles__item">
                  <div class="tiles__name">
                    <span>Perfect fit</span>
                  </div>
                  <div class="tiles__text">
                    <span>We match you with the developer, who shares your views on code development practices and is fully aligned with you in terms of work process. 100% Good vibes guarantee.</span>
                  </div>
                </div>
                <div class="tiles__item">
                  <div class="tiles__name">
                    <span>Expertise</span>
                  </div>
                  <div class="tiles__text">
                    <span>We can help you organize code development strategy in a most efficient way, best practices carried over from our prior experience with other project (we are huge fans of TDD by the way).</span>
                  </div>
                </div>
                <div class="tiles__item">
                  <div class="tiles__name">
                    <span>Flexibility</span>
                  </div>
                  <div class="tiles__text">
                    <span>We are ready to scale your team up and down in weeks time. You focus on creating your product, we - on keeping your team in a size and expertise which fits your demand.</span>
                  </div>
                </div>
                <div class="tiles__item">
                  <div class="tiles__name">
                    <span>Quick start up</span>
                  </div>
                  <div class="tiles__text">
                    <span>On average, it takes around 14 days from the point of initial contact to the moment where you have your dedicated developer (s) signed up for your project.</span>
                  </div>
                </div>
                <div class="tiles__item">
                  <div class="tiles__name">
                    <span>Confidentiality</span>
                  </div>
                  <div class="tiles__text">
                    <span>We sign strict NDA and tend to organize development with as few access to personal data as possible.</span>
                  </div>
                </div>
                <div class="tiles__item">
                  <div class="tiles__name">
                    <span>Team building</span>
                  </div>
                  <div class="tiles__text">
                    <span>We organize team building and educational events on your behalf.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line">
        <div class="line__wrapper">
          <div class="line__item line__item_title">
            <div class="line__title">
              <span>how_to_start</span>
            </div>
          </div>
          <div class="line__item line__item_4">
            <div class="points">
              <div class="points__wrapper">
                <div class="points__item points__item_full">
                  <div class="points__number">
                    <span>1</span>
                  </div>
                  <div class="points__text">
                    <strong>Drop us a few lines about what developer you are looking for.</strong>
                  </div>
                </div>
                <div class="points__item">
                  <div class="points__number">
                    <span>2</span>
                  </div>
                  <div class="points__text">
                    <span>We follow up within 24 hours to discuss the details/ scope/ duration.</span>
                  </div>
                </div>
                <div class="points__item">
                  <div class="points__number">
                    <span>3</span>
                  </div>
                  <div class="points__text">
                    <span>You get hand picked, filtered profiles of potential developers.</span>
                  </div>
                </div>
                <div class="points__item">
                  <div class="points__number">
                    <span>4</span>
                  </div>
                  <div class="points__text">
                    <span>Appropriate developers go through your interview/vetting process.</span>
                  </div>
                </div>
                <div class="points__item">
                  <div class="points__number">
                    <span>5</span>
                  </div>
                  <div class="points__text">
                    <span>Selected candidate (s) start the trial month.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-shadow">
              <div class="contact-form">
                <div class="contact-form__wrapper contact-form__wrapper_team">
                  <div class="contact-form__left"></div>
                  <div class="contact-form__box">
                    <form class="contact-form__form">
                      <div class="contact-form__item">
                        <div class="contact-form__label">
                          <span>Name</span>
                        </div>
                        <input type="text" class="contact-form__input">
                      </div>
                      <div class="contact-form__item">
                        <div class="contact-form__label">
                          <span>Email</span>
                        </div>
                        <input type="text" class="contact-form__input">
                      </div>
                      <div class="contact-form__item contact-form__item_big">
                        <div class="contact-form__label">
                          <span>How can we be of help?</span>
                        </div>
                        <textarea class="contact-form__textarea contact-form__textarea_small"></textarea>
                      </div>
                      <div class="contact-form__item">
                        <div class="button">
                          <button class="button__wrapper contact-form__button">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./../includes/footer.html'))(data) %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>