.box-shadow {
  &__wrapper {
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    padding-bottom: 60px;
    margin-bottom: 25px;
  }
  &_contacts {
    .box-shadow__wrapper {
      margin-top: 140px;
    }
  }
}

.contacts {
  &__wrapper {
    margin-top: 20px;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
  }
}

.address {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;
  }
  &__item {
    width: 100%;
    max-width: calc(33.33333% - 25px);
    margin-left: 12.5px;
    margin-right: 12.5px;
  }
  &__title {
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.contact-form {
  &__wrapper {
    margin-top: 45px;
    margin-bottom: 60px;
  }
  &__item {
    position: relative;
    display: flex;
    margin-bottom: 20px;
  }
  &__label {
    position: absolute;
    left: -115px;
    width: 115px;
    font-size: 18px;
  }
  &__input,
  &__textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #808080;
    font-weight: 300;
    font-size: 18px;
    &:focus {
      outline: none;
    }
  }
  &__input {
    max-width: 420px;
  }
  &__textarea {
    margin-top: 75px;
    min-height: 85px;
    max-width: 650px;
    margin-bottom: 30px;
    height: auto;
  }
  &__button {
    height: 45px;
    width: 200px;
    font-size: 20px;
  }
  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    margin-left: -12.5px;
    margin-right: -12.5px;
  }
  &__box {
    margin-left: 12.5px;
    margin-right: 12.5px;
    max-width: calc(80% - 25px);
    width: 100%;
  }
  &__left {
    margin-left: 12.5px;
    margin-right: 12.5px;
    max-width: calc(20% - 25px);
    width: 100%;
  }
}