.box-shadow {
  &__wrapper {
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    padding-bottom: 60px;
    margin-bottom: 65px;
  }
  &_contacts,
  &_case {
    .box-shadow__wrapper {
      margin-top: 140px;
    }
  }
}

.contacts {

  &__item {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
  }
}

.address {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;
  }
  &__item {
    width: calc(33.33333% - 25px);
    max-width: calc(33.33333% - 25px);
    margin-left: 12.5px;
    margin-right: 12.5px;
  }
  &__title {
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.contact-form {
  &__wrapper {
    margin-top: 45px;
    margin-bottom: 60px;
    display: flex;
    margin-left: -12.5px;
    margin-right: -12.5px;
    &_team {
      margin-top: 15px;
      .contact-form__label {
        width: 60px;
      }
    }
    &_popup {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0;
      margin-bottom: 0;
      .contact-form__title {
        font-size: 22px;
      }
      .contact-form__label {
        width: 50px;
        margin-right: 10px;
      }
      .contact-form__input {
        max-width: 315px;
      }
      .contact-form__textarea {
        max-width: 600px;
      }
      .contact-form__box {
        max-width: 100%;
      }
    }
  }
  &__item {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    &_big {
      display: block;
      .contact-form__label {
        width: auto;
      }
    }
  }
  &__label {
    font-family: 'Roboto', sans-serif;
    left: -115px;
    width: 115px;
    font-size: 18px;
  }
  &__input,
  &__textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: none;
    border-bottom: 1px solid #808080;
    font-weight: 300;
    font-size: 18px;
    font-weight: 300;
    &:focus {
      outline: none;
    }
  }
  &__input {
    max-width: 420px;
  }
  &__textarea {
    margin-top: 35px;
    min-height: 85px;
    max-width: 650px;
    margin-bottom: 30px;
    height: auto;
    &_small {
      margin-top: 15px;
    }
  }
  &__button {
    height: 45px;
    width: 200px;
    font-size: 18px;
  }
  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  &__box {
    margin-left: 12.5px;
    margin-right: 12.5px;
    max-width: calc(80% - 25px);
    width: 100%;
  }
  &__left {
    margin-left: 12.5px;
    margin-right: 12.5px;
    max-width: calc(20% - 25px);
    width: 100%;
  }
}