.line {
  &__wrapper {
    margin-bottom: 80px;
    display: flex;
    margin-left: -12.5px;
    margin-right: -12.5px;
  }
  &__item {
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: 100%;
    max-width: calc(20% - 25px);
    &_5 {
      max-width: calc(100% - 25px);
    }
    &_4 {
      max-width: calc(80% - 25px);
    }
    &_3 {
      max-width: calc(60% - 25px);
    }
    &_2 {
      max-width: calc(40% - 25px);
    }
    &_30 {
      max-width: calc(30% - 25px);
    }
    &_50 {
      max-width: calc(50% - 25px);
    }
    &_column {
      max-width: 50%;
      display: flex;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__box {
    width: calc(50% - 25px);
    margin-left: 12.5px;
    margin-right: 12.5px;
  }
  &__title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 22px;
    span:before {
      content: '/';
    }
    &_blue {
      color: #4485D1;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 18px;
  }
}

.deliver {
  &__wrapper {

  }
  &__icon {
    height: 85px;
    margin-bottom: 25px;
  }
  &__img {
    width: auto;
    height: 85px;
    &_exp {
      height: 63px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
  }
  &__text {
    font-weight: 300;
    font-size: 18px;
  }
}

.skill {
  &__wrapper {
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    transition: all 0.5s ease 0s;
    &:hover {
      transform: scale(1.1);
      .skill__text {
        font-size: 16.4px;
      }
      .skill__title {
        font-size: 20px;
      }
    }
  }
  &__icon {
    margin-left: 15px;
  }
  &__title {
    background-color: #4485D1;
    color:#fff;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 22px;
    transition: all 0.5s ease 0s;
  }
  &__list {
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__text {
    font-size: 18px;
    font-weight: 300;
    transition: all 0.5s ease 0s;
  }
  &__mark {
    margin-left: 10px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 30px;
      max-width: 60px;
    }
  }
}