@media screen and (max-width: 1200px) {
  .slider__control .owl-prev {
    left: 10px;
  }
  .slider__control .owl-next {
    right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .line__wrapper {
    flex-wrap: wrap;
  }
  .line__item_dis-mob {
    display: none;
    margin-bottom: 0;
  }
  .line__item.line__item_mob {
    margin-bottom: 0;
  }
  .line__item {
    max-width: calc(25% - 25px);
    width: calc(25% - 25px);
    margin-bottom: 25px;
  }
  .line__item.line__item_title {
    max-width: calc(100% - 25px);
    width: calc(100% - 25px);
  }
  .line__item.line__item_4 {
    max-width: calc(100% - 25px);
    width: calc(100% - 25px);
  }
  .line__item.line__item_column {
    max-width: 50%;
    width: 50%;
  }
  .line__title br {
    display: none;
  }
  .line__item_30 {
    max-width: calc(40% - 25px);
    width: calc(40% - 25px);
  }
  .line__item_50 {
    max-width: calc(60% - 25px);
    width: calc(60% - 25px);
  }
  .contact-form__left {
    display: none;
  }
  .contact-form__label {
    position: static;
    margin-bottom: 10px;
  }
  .contact-form__item {
    display: block;
  }
  .contact-form__wrapper {
    margin: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 992px) {
	.header__buttons {
    width: 88px;
  }
  .line__item.line__item_column {
      max-width: 100%;
      width: 100%;
  }
  .line__item_dis {
    display: none;
  }
  .button__wrapper {
    font-size: 14px;
  }
  .button__wrapper_foot {
    font-size: 18px;
  }
  .line__wrapper {
    margin-bottom: 50px;
  }
  .contact-form__button {
    font-size: 18px;
  }
  .contact-form__box {
    max-width: calc(100% - 25px);
  }
  .contact-box__wrapper {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 850px) {
  .header__link {
    font-size: 16px;
  }
  .line__item.line__item_column {
    flex-wrap: wrap;
  }
  .line__box {
    width: calc(50% - 25px);
  }
  .popup__box {
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .line__box.line__box_full {
    width: calc(100% - 25px);
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    height: 50px;
    width: 160px;
  }
  .tiles__item:hover {
    transform: scale(1);
  }
  .skill__wrapper:hover {
    transform: scale(1);
  }
  .case__item {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
  .slider__wrapper .owl-dots {
    bottom: -45px;
  }
  .slider__control {
    display: none;
  }
  .line__title br {
    display: none;
  }
  .numbers__item {
    width: calc(50% - 25px);
    max-width: calc(50% - 25px);
  }
  .clients__wrapper {
    margin-bottom: 45px;
  }
  .header__hire {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  .header__buttons {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
  .header__menu {
    display: block;
    position: absolute;
    z-index: 4;
    top: 65px;
    left: calc(-12.5px - 100vw);
    width: 100vw;
    transition: all 0.5s ease 0s;
    transform-origin: 0 0;
    background-color: #fff;
    &_open {
      left: -12.5px;
    }
  }
  .box-shadow_case .box-shadow__wrapper {
    margin-top: 85px;
  }
  .header__item {
    height: 61px;
    margin-left: 0;
    margin-right: 0;
  }
  .header__link {
    padding-left: 12.5px;
    padding-right: 12.5px;
    line-height: 61px;
    font-size: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .header__box {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    height: 65px;
  }
  .main-slide__wrapper {
    height: 236px;
    margin-top: 65px;
  }
  .line__caption {
    font-size: 22px;
  }
  .main-slide__caption {
    font-size: 24px;
    margin-left: 0;
    left: 0px;
    top: 142px;
    padding-left: 45px;
  }
  .line__item {
    max-width: calc(50% - 25px);
    width: calc(50% - 25px);
  }
  .line__wrapper {
    margin-bottom: 50px;
  }
  .line__wrapper_contacts {
    margin-bottom: 0px;
  }
  .contact-form__wrapper {
    margin-top: 0px;
  }
  .slider__text {
    max-width: calc(100% - 30px);
    font-size: 0;
  }
  .slider__img {
    max-width: calc(100% - 30px);
    justify-content: center;
  }
  .slider__item_flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider__text p {
    text-align: center;
    margin-bottom: 0;
  }
  .slider__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .button__wrapper.footer__hire {
    display: block;
    height: 50px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .slider__wrapper {
  }
  .line__item_50 {
    max-width: calc(100% - 25px);
    width: calc(100% - 25px);
  }
  .box-shadow_contacts .box-shadow__wrapper {
    margin-top: 75px;
  }
  .box-shadow__wrapper {
    box-shadow: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .contact-form__button {
    max-width: 320px;
    width: 100%;
  }
  .contacts__wrapper {
    margin-bottom: 30px;
  }
  .line__wrapper_last {
    margin-bottom: 0px;
  }
  .slider__item_full {
    padding: 0;
  }
  .main-slide__img > video {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .button__wrapper_foot {
    width: 100%;
  }
  .line__box.line__box_full {
    width: 100%;
  }
  .contact-form__button {
    max-width: 100%;
  }
  .popup__box {
    top: 0;
  }
  .skill__wrapper.skill__wrapper_full {
    padding-top: 7px;
  }
  .contact-form__wrapper_team {
    .contact-form__box {
      margin: 0;
      max-width: 100%;
      padding-top: 24px;
    }
    .contact-form__button {
      max-width: 250px;
    }
  }
  .case-desc__item {
    width: 100%;
  }
  .case__wrapper {
    margin-top: 0;
  }
  .contact-form__button {
    margin: 0 auto;
  }
  .map__legend {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  .contact-form__wrapper_team {
    margin-bottom: 0;
  }
  .contact-form__label br {
    display: none;
  }
  .contact-form__label {
    width: 100%;
  }
  .address__item {
    width: calc(50% - 25px);
    max-width: calc(50% - 25px);
    margin-bottom: 25px;
    &:first-child {
      max-width: calc(100% - 25px);
      width: calc(100% - 25px);
    }
  }
  .case-feat__tech {
    display: none;
  }
  .line__wrapper_case {
    position: relative;
    margin-bottom: 0px;
  }
  .case__logo {
    position: absolute;
    top: -5px;
    margin-top: 0;
    right: 15px;
    img {
      max-height: 35px;
      width: auto;
    }
  }
  .review__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .review__name {
    padding-left: 55px;
  }
  .review__position {
    padding-left: 55px;
    margin-bottom: 25px;
  }
  .review__wrapper {
    position: relative;
  }
  .case-desc__text {
    font-size: 16px;
  }
  .case-desc__name {
    font-size: 16px;
  }
  .review__content {
    padding-bottom: 25px;
  }
  .button__wrapper.footer__hire {
    max-width: 100%;
    height: 45px;
    font-size: 18px;
  }
  .line__caption {
    font-size: 22px;
  }
  .skill__wrapper_full .skill__title {
    padding-left: 15px;
    padding-right: 40px;
  }
  .skill__content {
    padding-left: 2.5px;
  }
  .skill__half {
    width: calc(100% - 25px);
  }
  .tiles__item {
    width: calc(100% - 25px);
    max-width: 100%;
  }
  .points__item {
    width: calc(100% - 25px);
  }
  .points__text strong {
    font-size: 18px;
  }
  .box-shadow {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 25px;
    padding-top: 0;
  }
  .box-shadow_case {
    box-shadow: none;
    padding-bottom: 0;
  }
  .tiles__item:last-child {
    margin-bottom: 0px;
  }
  .line__item_case {
    margin-bottom: 0px;
  }
  .case-feat__name {
    font-size: 18px;
  }
  .line__item {
    margin-bottom: 30px;
  }
  .line__item.line__item_column {
    margin-bottom: 0;
  }
  .slider__wrapper .owl-carousel .owl-dot {
    width: 10px;
    height: 10px;
  }
  .line__box_full {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .tiles__item {
    padding-bottom: 35px;
  }
  .points__number {
    margin-right: 12px;
  }
}
@media screen and (max-width: 500px) {
	.main-slide__caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  .numbers__item {
    max-width: calc(100% - 25px);
    width: calc(100% - 25px);
  }
}
@media screen and (max-width: 450px) {
	.deliver__icon {
    display: none;
  }
  .line__box {
    width: calc(100% - 25px);
    margin-bottom: 25px;
  }
  .skill__title {
    padding-right: 30px;
  }
  .skill__list {
    padding-right: 35px;
  }
  .line__item {
    max-width: calc(100% - 25px);
    width: calc(100% - 25px);
  }
  // .line__item.line__item_column {
  //   max-width: 100%;
  //   margin-bottom: 0;
  // }
  .skill__title {
    padding-left: 20px;
    padding-right: 10px;
  }
  .skill__list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

